.con{
    position: relative;
    margin-bottom: 3rem;

    .titlecon{
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            font-style: normal;
            font-weight: 200;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            color: #FFFFFF;
            margin: 0;
        }
    }

    .formcon{
        width: 100%;
        position: relative;
        margin: 3rem 0;
        margin-bottom: 0;

        .formelement{
            margin-bottom: 1.5rem;

            .inpitcon{
                width: 100%;
                position: relative;

                .input{
                    width: 100%;
                    position: relative;
                    background: #333333;

                    input{
                        width: 100%;
                        padding: .7rem 1rem;
                        font-size: 16px;
                        color: #fff;
                        background: transparent;
                        border: 0;
                        outline: none;
                        transition: all ease .5s;
                    }
                }

            }

            .textcon{
                width: 100%;
                position: relative;

                .textareacon{
                    width: 100%;
                    position: relative;
                    background: #333333;

                    textarea{
                        appearance: none;
                        width: 100%;
                        padding: .8rem 1rem;
                        border: 0;
                        color: #fff;
                        background: transparent;
                        font-size: 16px;
                        line-height: 1.5;
                        outline: none;
                        transition: all ease .5s;
                    }
                }
            }

            .labelcon{
                margin-bottom: 7px;

                label{
                    color: #fff;
                    font-weight: 200;
                    font-size: 16px;
                    letter-spacing: 0.1em;
                    color: #FFFFFF;

                    span{
                        color: red;
                        font-weight: bold;
                        padding-left: 5px;
                    }
                }
            }

            .errorbox{
                padding: .5rem 1rem;
                color: #ff5959;
                font-size: 14px;
            }
        }
        .formelement:last-child{
            margin-bottom: 0;
        }
    }

    .buttoncon{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;

        button{
            width: 50%;
            margin: 0 auto;
            padding: .5rem 1rem;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #969696;
            background: #373F43;
            cursor: pointer;
            transition: all ease .5s;
        }

        button:hover{
            color: #373F43;
            background: #fff;
        }
    }
}