.mobilemenu{
    min-height: 100vh;
    height: 100%;
    background: #1C2022;
    position: relative;

    .innerbody{
        width: 100%;
        height: 100%;

        .controller{
            padding: 1rem;

            button{
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 30px;
                }
            }
        }

        .menucon{
            padding: 0 1rem;

            .logocon{
                width: 100%;
                position: relative;

                .logo{

                }
            }

            .menuholder{
                margin-top: 2rem;

                .menu_tab{
                    padding: 1.5rem 0;

                    a{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 21px;
                        color: #FFFFFF;
                    }

                }

                .submenu_tab{
                    padding: 1.5rem 0;

                    .submenucontrol{
                        display: flex;
                        align-items: center;
                        width: 100%;

                        .title{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 21px;
                            color: #FFFFFF;
                        }
                        i{
                            margin-left: auto;
                            font-size: 25px;
                            color: #fff;
                        }
                    }

                    .submenuholder{
                        padding-left: 1rem;

                        .submenutab{
                            margin-bottom: 2rem;

                            a{
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 19px;                                
                                color: #9F9F9F;
                            }
                        }

                        .submenutab:first-child{
                            margin-top: 2rem;
                        }

                        .submenutab:last-child{
                            margin-bottom: 0;
                        }
                    }
                }

                .menu_tab:first-child{
                    padding-top: 0;
                }

                .menu_tab:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
}