.con{
    width: 100%;
    height: auto;
    position: relative;
    background: #FFFFFF;
    border-top: 1px solid #B4B4B4;

    .holder{
        width: 1024px;
        height: 100%;
        margin: 0 auto;

        .holdercon{
            padding: 1rem 0;
            height: 100%;
            position: relative;

            .closebtn{
                position: absolute;
                right: 0;
                z-index: 10;

                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all ease .5s;

                    i{
                        color: #373F43;
                    }
                }

                button:hover{
                    background: #373F43;

                    i{
                        color: #fff;
                    }
                }
            }

            .contentbody{
                width: 100%;
                height: 100%;
                position: relative;
                padding: 1rem 0;
                
                .body{
                    width: 100%;
                    height: 100%;
                    padding: 0 3rem;
                    padding-left: 0;
                    display: flex;

                    .contentcon{
                        width: 70%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .logocon{

                        }

                        .title{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: #000000;
                        }

                        .content{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: #000000;
                            margin-top: 1rem;
                        }
                    }

                    .buttonsgroup{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;

                        .group{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .acceptbtn{
                                margin-bottom: .8rem;

                                button{
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #373F43;
                                    background: #FFFFFF;
                                    padding: .7rem 5rem;
                                    transition: all ease .5s;
                                    border: 1px solid #373F43;
                                }

                                button:hover{
                                    color: #FFFFFF;
                                    background: #373F43;
                                }
                            }

                            .customlink{
                                font-size: 14px;

                                button{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cookiesettingcon{
    width: 100%;
    height: 100%;

    .backbtn{
        width: 100%;

        button{
            display: flex;
            align-items: center;
            font-weight: bold;
        }
    }

    .contentholder{
        margin: 2rem 0;

        .titlecon{
            h1{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: #373F43;
                margin: 0;
            }
        }

        .prefholder{
            margin-top: 2rem;

            .prefitem{
                margin-bottom: 2rem;

                .container{
                    width: 100%;
                    height: auto;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-self: stretch;

                    .prefcontent{
                        width: 80%;
                        padding-right: 2rem;

                        .title{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 30px;
                            color: #373F43;
                            margin-bottom: .5rem;
                        }

                        .desc{
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 1.5;
                            color: #000000;
                        }
                    }

                    .togglebtncon{
                        width: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .togglebtn{
                            width: 3.6rem;
                            height: 2rem;
                            background: #373F43;
                            border-radius: 1.7rem;
                            position: relative;
                            border: 2px solid #373F43;

                            .ballleft{
                                opacity: 0;
                                width: calc(2rem - 4px);
                                height: 100%;
                                border-radius: 100%;
                                transition: all ease .5s;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }

                            .ballright{
                                opacity: 0;
                                width: calc(2rem - 4px);
                                height: 100%;
                                border-radius: 100%;
                                transition: all ease .5s;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }

                        .on{
                            .ballright{
                                opacity: 1;
                                background: #FFFFFF;
                            }
                        }

                        .off{
                            .ballleft{
                                opacity: 1;
                                background: #FFFFFF;
                            }
                        }
                    }
                }
            }

            .prefitem:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1439px){
    
}

// ipad pro / ipad horizontal
@media (min-width: 769px) and (max-width: 1024px){

}

// ipad
@media (min-width: 429px) and (max-width: 768px){

}

// iphonex && plus
@media only screen and (max-width: 428px) {

    .con{
        .holder{
            width: auto;
    
            .holdercon{
                padding: 1rem;
    
                .closebtn{
                    right: 1rem;
                }
    
                .contentbody{
                    padding-top: 2rem;
                    
                    .body{
                        padding: 0;
                        flex-direction: column;
    
                        .contentcon{
                            width: 100%;
                        }
    
                        .buttonsgroup{
                            width: 100%;
                            align-items: center;
                            margin-top: 2rem;
    
                            .group{
                                width: 100%;
    
                                .acceptbtn{
                                    width: 100%;
    
                                    button{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cookiesettingcon{ 
        .contentholder{
            margin-bottom: 1rem;
    
            .prefholder{
                margin-top: 1rem;
    
                .prefitem{
                    margin-bottom: 1rem;
    
                    .container{
                        width: 100%;
                        height: auto;
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-self: stretch;
    
                        .prefcontent{

                            .title{
                                font-size: 16px;
                                margin-bottom: 0;
                            }
    
                            .desc{
                                font-size: 12px;
                            }
                        }
                    }
                }
    
                .prefitem:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}