html,
body {
  padding: 0;
  margin: 0;
  background: #242b2f;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
  
p{
    margin: 0;
}

* {
  box-sizing: border-box;
  transition: all ease .5s;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

button{
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

input, select, textarea{
  appearance: none;
}

@media (min-width: 1025px) and (max-width: 1439px){
    
}

// ipad pro / ipad horizontal
@media (min-width: 769px) and (max-width: 1024px){

}

// ipad
@media (min-width: 429px) and (max-width: 768px){

}

// iphonex && plus
@media only screen and (max-width: 428px) {

}